<!doctype html>
<html lang="en" ng-app="bfVirtualPhoneApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Virtual Phone</title>

    <base href="/">

    <link rel="icon" href="images/favicon.png">

    <!--No compacted files-->
    <link href="core/bower_components/angular/angular-csp.css" rel="stylesheet" type="text/css">
    <link href="core/bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" type="text/css">
    <link href="core/bower_components/bootstrap-sass/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="core/src/styles/app.css" rel="stylesheet" type="text/css">
    <link href="core/src/styles/animations.css" rel="stylesheet" type="text/css">
    <link href="core/src/styles/select.css" rel="stylesheet" type="text/css">
    <link href="core/src/styles/fonts.css" rel="stylesheet" type="text/css">
    <link href="core/src/styles/portal.css" rel="stylesheet" type="text/css">

    <!-- include: "type": "css", "files": "core/dist/styles/*.css" -->
    <!-- /include -->

    <!-- build:css(.tmp) styles/app.css -->
    <!-- endbuild -->

  </head>

  <body class="virtual-phone-container">

    <virtual-phone-body></virtual-phone-body>

    <!--No compacted files-->
    <script src="core/bower_components/jquery/dist/jquery.js"></script>
    <script src="core/bower_components/angular/angular.js"></script>
    <script src="core/bower_components/angular-resource/angular-resource.js"></script>
    <script src="core/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="core/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!--<script src="core/app/modules/angular-utils-pagination/dirPagination.js"></script>-->

    <!-- include: "type": "js", "files": "core/dist/scripts/*.js" -->
    
    <!-- /include -->

    <script src="virtualPhone.js"></script>

  </body>



</html>



